body{
    background: rgb(54, 54, 209);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto; /* para centralizar*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363); /* serve para colocar uma sombra embaixo*/
}

footer{
     color: white;
    text-align: center;
    font: italic;
}